@page "/"

<PageTitle>Home</PageTitle>

<MudGrid Class="brawny brawny-hero">
    <MudItem Class="brawny-hero-content" md="5" Style="margin-top: 10%; margin-left: 10%;">
        <h6>Brawny</h6>
        <h1>The Journey</h1>
        <p>of being a software engineer</p>
    </MudItem>
    
    <MudItem md="4" Style="margin-top: 4%;">
        <div class="brawny-hero-right-image brawny-hero-image"></div>
    </MudItem>
</MudGrid>

<MudText Align="Align.Center" Typo="Typo.h3" Style="margin-top: 10px;">About Me</MudText>
<MudContainer>
    <MudGrid Spacing="2" Style="margin-top: 16px">
        <MudItem md="12">
            <MudText Typo="Typo.body1">
                Started my journey into software development back in High School. Pursued it as a hobby, creating various applications and games for fun.
            </MudText>
        </MudItem>
        
        <MudItem md="12">
            <MudText Typo="Typo.body1">
                Enlisted into the Army in 2012. It was during this time I received the nickname <strong>Brawny</strong>.
            </MudText>
        </MudItem>

        <MudItem md="12">
            <MudText Typo="Typo.body1">
                Officially hopped into the programming profession in 2017. Shortly after I started pursuing a college degree where I became a mentor for others on their programming journey!
            </MudText>
        </MudItem>
    </MudGrid>
</MudContainer>